@page
@model WebAppWithDatabase_CRUD_Operations_.Pages.Clients.IndexModel
@{
}

<body class="colorFullBody">
    <br>
    <h2 class="clientsLabel">Clients List</h2>
    <a id="addBtn" class="btn btn-primary btn-lg" href="/Clients/Create">Add New Client</a>
    <table id="tableData"class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Date of Creation</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listClients)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.name</td>
                    <td>@item.email</td>
                    <td>@item.phone</td>
                    <td>@item.address</td>
                    <td>@item.creation_date</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="/Clients/Edit?id=@item.id">Edit</a>
                        <a class="btn btn-danger btn-sm" href="/Clients/Delete?id=@item.id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>

